@import "./variables";
@import "./animations";

.blog-page {
  .blog {
    padding: 6.5% 0 9%;
    &-item {
      display:       block;
      margin-bottom: 4%;
      &:hover {
        .item-image {
          img {
            transform: scale(1.1);
          }
        }
        .item-description {
          h4 {
            color: $primaryColor;
          }
        }
      }
      .item-image {
        height:        21.31vw;
        max-height:    450px;
        margin-bottom: 15px;
        overflow:      hidden;
        border-radius: 5px;
        img {
          height:     100%;
          object-fit: cover;
          transition: .3s linear;
        }
      }
      .item-description {
        p, h4 {
          color: #000;
        }
        h4 {
          margin-bottom: 10px;
          transition:    .3s linear;
        }
      }
    }
  }
}

// animations
.blog-page {
  .blog-item {
    opacity: 0;
    &.animation {
      animation: $animationFromLeft;
    }
  }
}

@media screen and (max-width: 991.98px) {
  .blog-page {
    .blog {
      padding: 7.1% 0 13%;
      &-item {
        margin-bottom: 36px;
        .item-image {
          height:        25.2vw;
          margin-bottom: 10px;
        }
        .item-description {
          h4 {
            font-size:     1.125rem;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .blog-page {
    .blog {
      padding: 10% 0 14.1%;
      .container {
        padding: 0;
      }
      &-item {
        margin-bottom: 24px;
        .item-image {
          height:        60.32vw;
          margin-bottom: 0;
        }
        .item-description {
          padding: 15px;
          h4 {
            font-size:     1.28rem;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}