@import "./variables";

@media (any-hover: hover) {
  .blog {

  }
}

.blog-page {
  .banner {
    &-description {
      width: 100%;
    }
    h1 {
      margin-bottom: 100px;
    }
    &-inner {
      padding: 25.23% 0;
    }
  }
  .blog {
    padding: 6.5% 0 9%;
    &-item {
      margin-bottom: 4%;
      .item-image {
        height:        21.31vw;
        max-height:    450px;
        margin-bottom: 15px;
        img {
          height:     100%;
          object-fit: cover;
        }
      }
      .item-description {
        h4 {
          margin-bottom: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  .blog-page {
    .banner {
      h1 {
        margin-bottom: 64px;
      }
      &-inner {
        padding: 22.2% 0 23.4%;
      }
    }
    .blog {
      padding: 7.1% 0 13%;
      &-item {
        margin-bottom: 36px;
        .item-image {
          height:        25.2vw;
          margin-bottom: 10px;
        }
        .item-description {
          h4 {
            font-size:     1.125rem;
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .blog-page {
    .banner {
      &-inner {
        padding: 69% 0 45.5%;
      }
    }
    .blog {
      padding: 10% 0 14.1%;
      .container {
        padding: 0;
      }
      &-item {
        margin-bottom: 24px;
        .item-image {
          height:        60.32vw;
          margin-bottom: 0;
        }
        .item-description {
          padding: 15px;
          h4 {
            font-size:     1.28rem;
            margin-bottom: 10px;
          }
        }
      }
    }
  }
}