@import "./variables";
@import "./animations";

.contacts {
  padding-top: 96px;
  h1, h3 {
    color: $black;
  }
  h3 {
    font-size:     24px;
    z-index:       1;
    margin-bottom: 8px;
  }
  h1 {
    margin-bottom: 40px;
  }
  .contact {
    padding-top: 20px;
    &-inner {
      position: relative;
    }
    &-form {
      padding-bottom: 10.33%;
      .wrapper-buttons {
        position:       relative;
        display:        flex;
        flex-direction: column;
        align-items:    flex-start;
      }
      .wpcf7-file, .file {
        display: none !important;
      }
      .wpcf7-submit, .submit {
        width: auto;
      }
      .wpcf7-radio, .contact-buttons {
        max-width:       1000px;
        margin-bottom:   40px;
        display:         flex;
        justify-content: flex-start;
        flex-wrap:       wrap;
        input {
          display: none;
        }
        .wpcf7-list-item-label, span {
          border:        2px solid $primaryColor;
          border-radius: 50px;
          padding:       12px 20px;
          color:         $primaryColor;
          font-size:     18px;
          display:       inline-block;
          cursor:        pointer;
          transition:    .2s linear;
          min-width:     130px;
          &:hover, &:active {
            background-color: $primaryColor;
            color:            #fff;
          }
        }
        input:checked + .wpcf7-list-item-label,
        input:checked + span {
          background-color: $primaryColor;
          color:            #fff;
        }
        .wpcf7-list-item, label {
          font-weight: 600;
          margin:      0 17px 16px 0;
          text-align:  center;
        }
      }
      .upload-js {
        font-size:    16px;
        padding:      6px 28px;
        border-width: 1px;
      }
    }
    &-image {
      position: absolute;
      bottom:   0;
      right:    0;
      z-index:  -1;
      width:    38.9vw;
    }
  }
}


.notification {
  padding:         14px 24px;
  font-weight:     700;
  font-size:       24px;
  border-radius:   4px;
  width:           100%;
  max-width:       890px;
  min-height:      100px;
  display:         flex;
  align-items:     center;
  justify-content: center;
  &_accept {
    border:     2px solid green;
    background: rgba(0, 128, 0, 0.1);
  }
  &_error {
    border:     2px solid red;
    background: rgba(255, 0, 0, 0.1);
  }
}

// animations
.contacts {
  h1 {
    opacity: 0;
    &.animation {
      animation: $animationFromLeft;
    }
  }
  h3 {
    opacity: 0;
    &.animation {
      animation: $animationFromLeft;
    }
  }
  .radio-services {
    opacity: 0;
    &.animation {
      animation: $animationFromLeft;
    }
  }
  .contact-form .input {
    opacity: 0;
    &.animation {
      animation: $animationFromLeft;
    }
  }
  .contact-form .wrapper-buttons {
    opacity: 0;
    &.animation {
      animation: $animationFromLeft;
    }
  }
  .contact-image {
    opacity: 0;
    &.animation {
      animation: $animationScaleOut;
    }
  }
}

@media screen and (max-width: 991.98px) {
  .contacts {
    h3 {
      font-size: 1rem;
    }
    .container {
      padding: 0 15px;
    }
    .contact {
      &-form {
        padding-bottom: 13%;
        .wpcf7-radio, .contact-buttons {
          padding-top: 0;
          max-width:   720px;
          .wpcf7-list-item-label, span {
            font-size: 16px;
          }
          .wpcf7-list-item, label {
            margin-bottom: 15px;
          }
        }
      }
      &-image {
        top:       50%;
        bottom:    initial;
        transform: translate(0, -60%);
        width:     39.5vw;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    max-width:   418px;
    margin:      0 auto;
    padding-top: 46px;
    h1 {
      margin-bottom: 32px;
      text-align:    center;
    }
    h3 {
      padding-top: 24px;
    }
    .contact {
      padding: 0;
      &-form {
        padding-bottom: 46px;
        .wpcf7-radio, .contact-buttons {
          .wpcf7-list-item-label, span {
            font-size: 14px;
            width:     100%;
            padding:   10px 10px;
          }
          .wpcf7-list-item, label {
            margin: 0 12px 12px 0;
            width:  100%;
          }
        }
      }
      &-image {
        display: none;
      }
    }
  }
}


