@import "./variables";
@import "./animations";

.contacts {
  padding-top: 119px;
  .contact {
    padding-top: 6.5%;
    &-title {
      z-index:       1;
      margin-bottom: 1.1111111rem;
      h1, h3 {
        color: $black;
      }
      h1 {
        margin-bottom: 8.63%;
      }
    }
    &-inner {
      position: relative;
    }
    &-form {
      .wpcf7-spinner {
        position:  absolute;
        left:      50%;
        bottom:    -10px;
        transform: translate(-50%, 100%);
        margin:    0;
      }
      padding-bottom: 10.33%;
      .wrapper-buttons {
        position:       relative;
        display:        flex;
        flex-direction: column;
        align-items:    flex-start;
      }
      .wpcf7-file {
        display: none !important;
      }
      .wpcf7-submit {
        width: auto;
      }
      .wpcf7-radio {
        padding-top:     1.666666rem;
        max-width:       1000px;
        margin-bottom:   10.3%;
        display:         flex;
        justify-content: flex-start;
        flex-wrap:       wrap;
        input {
          display: none;
        }
        .wpcf7-list-item {
          font-weight: 600;
          margin:      0 17px 16px 0;
          text-align:  center;
          .wpcf7-list-item-label {
            border:        2px solid $primaryColor;
            border-radius: 50px;
            padding:       20px 35px;
            color:         $primaryColor;
            font-size:     1.333333rem;
            display:       inline-block;
            cursor:        pointer;
            transition:    .2s linear;
            min-width:     165px;
            &:hover, &:active {
              background-color: $primaryColor;
              color:            #fff;
            }
          }
          input:checked + .wpcf7-list-item-label {
            background-color: $primaryColor;
            color:            #fff;
          }
        }
      }
    }
    &-image {
      position: absolute;
      bottom:   0;
      right:    0;
      z-index:  -1;
      width:    38.9vw;
    }
  }
}

// animations
.contacts {
  .contact-title h1 {
    opacity: 0;
    &.animation {
      animation: $animationFromLeft;
    }
  }
  .contact-title h3 {
    opacity: 0;
    &.animation {
      animation: $animationFromLeft;
    }
  }
  .radio-services {
    opacity: 0;
    &.animation {
      animation: $animationFromLeft;
    }
  }
  .contact-form .input {
    opacity: 0;
    &.animation {
      animation: $animationFromLeft;
    }
  }
  .contact-form .wrapper-buttons {
    opacity: 0;
    &.animation {
      animation: $animationFromLeft;
    }
  }
  .contact-image {
    opacity: 0;
    &.animation {
      animation: $animationScaleOut;
    }
  }
}

@media screen and (max-width: 991.98px) {
  .contacts {
    padding-top: 48px;
    .container {
      padding: 0 15px;
    }
    .contact {
      padding-top: 4.3%;
      &-title {
        margin-bottom: 1.75rem;
        h1 {
          margin-bottom: 77px;
        }
        h3 {
          font-size: 1rem;
        }
      }
      &-form {
        padding-bottom: 13%;
        .wpcf7-form-control-wrap {
          width: 100%;
        }
        .wpcf7-radio {
          padding-top: 0;
          max-width:   720px;
          margin:      0 0 80px;
          .wpcf7-list-item {
            margin-bottom: 15px;
            .wpcf7-list-item-label {
              padding:   15px 20px;
              font-size: 1rem;
              min-width: 130px;
            }
          }
        }
      }
      &-image {
        top:       50%;
        bottom:    initial;
        transform: translate(0, -60%);
        width:     39.5vw;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .contacts {
    max-width:   418px;
    margin:      0 auto;
    padding-top: 46px;
    .contact {
      padding: 0;
      &-title {
        padding-top: 24px;
        margin-bottom: 12px;
        h1 {
          margin-bottom: 32px;
          text-align:    center;
        }
      }
      &-form {
        padding-bottom: 46px;
        .wpcf7-radio {
          margin: 0 auto 53px;
          .wpcf7-list-item {
            margin: 0 12px 12px 0;
            width:  100%;
            .wpcf7-list-item-label {
              width:   100%;
              padding: 10px 10px;
            }
          }
        }
      }
      &-image {
        display: none;
      }
    }
  }
}


