@import "./variables";

.photorealistic-renderings {
  padding: 3.5%;
  &-inner {
    margin-bottom: 4.1%;
  }
  &-description {
    margin-bottom: 9.14%;
  }
  &-images {
    display:         flex;
    justify-content: space-between;
    align-items:     center;
    flex-wrap:       wrap;
    margin-bottom:   -70px;
  }
  &-image {
    width:         30.5%;
    max-width:     481px;
    margin-bottom: 70px;
    img {
      border-radius: 5px;
      height:        24vw;
      max-height:    500px;
      object-fit:    cover;
      transition:    0.3s linear;
    }
  }
}

@media screen and (max-width: 991.98px) {
  .photorealistic-renderings {
    padding: 30px 0;
    &-inner {
      margin-bottom: 60px;
    }
    .btn {
      padding: 15px 32px;
    }
    &-images {
      margin-bottom: -32px;
    }
    &-image {
      margin-bottom: 32px;
    }
  }
}

@media screen and (max-width: 767px) {
  .photorealistic-renderings {
    &-inner {
      margin-bottom: 45px;
    }
    &-image {
      border-radius: 3px;
      width:         47%;
      &:nth-child(3) {
        display: none;
      }
      img {
        height: 42vw;
      }
    }
    .btn {
      padding: 12px 25px;
    }
  }
}