@import "./variables";

@media (any-hover: hover) {

}

.renderings {
  .swiper-container {
    overflow: hidden;
    .swiper-slide {
      transition: .2s linear;
      .rendering-image {
        background: rgba(33, 33, 33, 0.9);
      }
      &.swiper-slide-active {
        .rendering-image {
          background: none;
        }
      }
    }
    .rendering-image {
      transition: .2s linear;
      display:    flex;
      cursor:     pointer;
      height:     37vw;
      img {
        position:   relative;
        z-index:    -1;
        object-fit: cover;
        height:     100%;
      }
    }
  }
  h2 {
    margin-bottom: 4.5%;
  }
  .description-inner {
    max-width: 1000px;
  }
  .banner {
    background: #202020;
    &:after {
      background-image:  url(../images/icons/after-3.svg);
      background-repeat: no-repeat;
      background-size:   cover;
    }
    h1 {
      font-size:     4rem;
      margin-bottom: 12.5%;
    }
    .overlay {
      background-image: linear-gradient(-45deg, rgba(84, 119, 201, 0.14), rgba(56, 72, 112, 0), rgba(37, 41, 53, 0.61), rgba(37, 41, 53, 0.51));
    }
    &-inner {
      padding: 23.2% 0;
    }
  }
  &-content {
    padding:    4% 0 7%;
    background: #202020;
    .container {
      max-width: 1840px;
    }
    &-inner {
      display:         flex;
      align-items:     center;
      flex-wrap:       wrap;
      justify-content: center;
    }
    &-image {
      width:            48.13%;
      margin-right:     13px;
      position:         relative;
      background-color: #202020;
      img {
        mix-blend-mode: lighten;
      }
      .renderings-content-quote {
        padding:       0.64rem 1.11111111rem;
        background:    rgba(82, 112, 222, 0.4);
        border-radius: 10px;
        position:      absolute;
        bottom:        0;
        left:          0;
        max-width:     484px;
        p {
          color:       $white;
          line-height: 1.333333;
        }
      }
    }
    &-description {
      width:     50%;
      max-width: 770px;
      p {
        font-size:     1.3333333rem;
        color:         #D3D4D5;
        margin-bottom: 1.3333333rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  .industrial-lighting {
    background: #202020;
    z-index:    1;
    &-slider {
      position: relative;
    }
    .swiper-pagination {
      display: none;
    }
    .swiper-button-next, .swiper-button-prev {
      &:hover, &:active {
        opacity: .7;
      }
      &:after {
        color: $primaryColor;
      }
    }
    &-description {
      margin-bottom: 7.3%;
      p {
        color: $white;
      }
      h2 {
        color: $white;
      }
    }
  }
  .commercial-lighting {
    position: relative;
    padding:  7.3% 0 7.56%;
    &-slider-image img {
      height:     350px;
      object-fit: cover;
    }
    .swiper-pagination {
      display: none;
    }
    &-description {
      margin-bottom: 9.12%;
    }
  }
  .sports-lighting {
    &-slider {
      position: relative;
    }
    &-description {
      margin-bottom: 7.82%;
    }
    .swiper-pagination {
      display: none;
    }
    .swiper-button-next, .swiper-button-prev {
      &:hover, &:active {
        opacity: .7;
      }
      &:after {
        color: $primaryColor;
      }
    }
  }
  .photorealistic-renderings {
    text-align: center;
    &-description {
      text-align: left;
    }
    .link-more {
      display: none;
    }
  }
}

@media screen and (max-width: 1400px) {
  .renderings {
    .commercial-lighting {
      &-slider-image img {
        height:     230px;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 567px) {
  .renderings {
    .commercial-lighting {
      &-slider-image img {
        height:     120px;
        object-fit: cover;
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  .renderings {
    h2 {
      margin-bottom: 5.5%;
    }
    .description-inner {
      margin-bottom: 9.5%;
    }
    .banner {
      h1 {
        font-size:     2.6rem;
        max-width:     380px;
        margin-bottom: 13.1%;
      }
      &-inner {
        padding: 17.7% 0 18.6%;
      }
    }
    &-content {
      padding: 6% 0 10%;
      &-image {
        width: 47.7%;
        .rendering-content-quote {
          padding:   8px 10px;
          bottom:    -30%;
          max-width: 297px;
          p {
            font-size: .88rem;
          }
        }
      }
      &-description {
        p {
          font-size:     1rem;
          margin-bottom: 1rem;
        }

      }
    }
    .industrial-lighting {
      .swiper-pagination {
        display: block;
      }
      .swiper-button-next, .swiper-button-prev {
        display: none;
      }
      &-description {
        margin-bottom: 0;
        .description-inner {
          max-width: 515px;
        }
      }
    }
    .commercial-lighting {
      padding: 11.3% 0;
      .swiper-pagination {
        display: block;
      }
      .swiper-button-next, .swiper-button-prev {
        display: none;
      }
    }
    .sports-lighting {
      .swiper-pagination {
        display: block;
      }
      .swiper-button-next, .swiper-button-prev {
        display: none;
      }
    }
    .photorealistic-renderings {
      &-images {
        &.show {
          .photorealistic-renderings-image {
            &:nth-child( n + 4) {
              display: block;
            }
          }
        }
      }
      &-image {
        &:nth-child( n + 4) {
          display: none;
        }
      }
      .link-more {
        display: flex;
        width:   100%;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .renderings {
    .swiper-container {
      .rendering-image {
        height: 57vw;
      }
    }
    h2 {
      margin-bottom: 11.1%;
    }
    .description-inner {
      margin-bottom: 14%;
    }
    .banner {
      h1 {
        font-size:     2.429rem;
        margin-bottom: 22.5%;
      }
      &-inner {
        padding: 48% 0 41%;
      }
    }
    &-content {
      padding: .6rem 0 17.5%;
      &-image {
        width:  100%;
        margin: 0 0 27%;
        .rendering-content-quote {
          bottom: -20%;
          p {
            font-size: 1rem;
          }
        }
      }
      &-description {
        width: 100%;
        p {
          margin-bottom: 1.7rem;
        }
      }
    }
    .industrial-lighting {
      &-description {
        margin-bottom: 0;
      }
    }
    .commercial-lighting {
      padding: 20% 0;
    }
    .photorealistic-renderings {
      &-images {
        &.show {
          .photorealistic-renderings-image {
            &:nth-child( n + 3) {
              display: block;
            }
          }
        }
      }
      &-image {
        &:nth-child( n + 3) {
          display: none;
        }
      }
    }
  }
}